.card {
  height: 400px;
}

.card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card.pic-cocktail {
  height: 300px;
  width: 400px;
  margin: none;
}
